<h1>Courses</h1>

<table>
  <th>Course</th>
  <th>Language</th>
  <th>Learning language</th>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.course_name %></td>
      <td><%= course.language %></td>
      <td><%= course.learning_language %></td>
      <td><%= link_to 'Show', course_path(course) %></td>
      <td><%= link_to 'Edit', edit_course_path(course) %></td>
      <td><%= link_to 'Destroy', course_path(course), method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New course', new_course_path %>